<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>What is your favorite color?</h1>

      <li>
        Blue
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
        Green
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <li>
        Yellow
        <input type="radio" name="next_step" value="Q4" />
      </li>

      <li>
        Red
        <input type="radio" name="next_step" value="Q5" />
      </li>

      <li>
        orange
        <input type="radio" name="next_step" value="Q6" />
      </li>

      <li>
        purple
        <input type="radio" name="next_step" value="Q7" />
      </li>

      <li>
        pink
        <input type="radio" name="next_step" value="Q8" />
      </li>

      <li>
        black
        <input type="radio" name="next_step" value="Q9" />
      </li>

      <li>
        white
        <input type="radio" name="next_step" value="Q10" />
      </li>

      <li>
        Gold
        <input type="radio" name="next_step" value="Q11" />
      </li>

      <li>
        turquoise
        <input type="radio" name="next_step" value="Q12" />
      </li>

      <li>
        neon colors
        <input type="radio" name="next_step" value="Q13" />
      </li>

      <li>
        mint
        <input type="radio" name="next_step" value="Q14" />
      </li>

      <li>
        ivory
        <input type="radio" name="next_step" value="Q15" />
      </li>

      <li>
        burnt sienna
        <input type="radio" name="next_step" value="Q16" />
      </li>

      <li>
        burnt umber
        <input type="radio" name="next_step" value="Q5" />
      </li>

      <form action="/quiz/2">
        <button type="submit">Submit</button>
      </form>


      <section id="featured">

         <img src="http://sarasotacustompainting.com/blog/wp-content/uploads/2016/02/choosing-colors.jpg" alt="colors">

      </section>

</body>

</html>
