<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>KWK Advice Template</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>An interesting book or video game is often better than a social event.</h1>
      <li>
        Agree
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
         Disagree
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <form action="/quiz/11">
        <button type="submit">Submit</button>
      </form>

      <section id="featured">

         <img src="https://i.kinja-img.com/gawker-media/image/upload/s--XC8ObTgU--/c_scale,f_auto,fl_progressive,q_80,w_800/1431863947330803017.jpg" alt="colors">

      </section>
</body>

</html>
