<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>Lightning never strikes in the same place twice</h1>

      <li>
        True
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
         False
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <form action="/quiz/15">
        <button type="submit">Submit</button>
      </form>

      <section id="featured">

         <img src="http://2.bp.blogspot.com/_pLImZOfRzC8/S9iRVbqOdNI/AAAAAAAAAQQ/XX_TBGPhU98/s1600/lightning.jpg" alt="colors">

      </section>
</body>

</html>
