<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>What is your favorite food?</h1>

      <li>
        Burger
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
        Hot dog
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <li>
        Spaghetti
        <input type="radio" name="next_step" value="Q4" />
      </li>

      <li>
        Fried rice
        <input type="radio" name="next_step" value="Q5" />
      </li>

      <li>
        French fries
        <input type="radio" name="next_step" value="Q6" />
      </li>

      <li>
        Burritos
        <input type="radio" name="next_step" value="Q7" />
      </li>

      <li>
        Pizza
        <input type="radio" name="next_step" value="Q8" />
      </li>

      <li>
        Couscous
        <input type="radio" name="next_step" value="Q9" />
      </li>

      <li>
        Avocado based foods
        <input type="radio" name="next_step" value="Q10" />
      </li>

      <li>
        Red beans and corn bread
        <input type="radio" name="next_step" value="Q11" />
      </li>

      <li>
        Cream of wheat
        <input type="radio" name="next_step" value="Q12" />
      </li>

      <li>
        Grits
        <input type="radio" name="next_step" value="Q13" />
      </li>

      <li>
        Eggs
        <input type="radio" name="next_step" value="Q14" />
      </li>

      <li>
        Salad
        <input type="radio" name="next_step" value="Q15" />
      </li>



    <form action="/quiz/3">
      <button type="submit">Submit</button>
  </form>

  <section id="featured">

     <img src="https://media.swncdn.com/cms/CW/family/children/30691-greedy-child-1200.1200w.tn.jpg" alt="colors">

  </section>

</body>
