<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Know Yourself!</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>Welcome to a website where you can get to know yourself.</h1>
  <h2>Let's get it started!</h2>

  <ul>

    <li><a href="/quiz/1">Click here</a></li>

  </ul>

  <section id="featured">

     <img src="https://i.pinimg.com/originals/00/32/b3/0032b311d773715512b9a288855dc7fe.jpg" alt="Know Yourself. -Drake">

  </section>

</body>

</html>
