<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>What is your favorite pet?</h1>

      <li>
        Dog
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
        Chicken
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <li>
        Pig
        <input type="radio" name="next_step" value="Q4" />
      </li>

      <li>
        Cat
        <input type="radio" name="next_step" value="Q5" />
      </li>

      <li>
        mice
        <input type="radio" name="next_step" value="Q6" />
      </li>

      <li>
        rabbit
        <input type="radio" name="next_step" value="Q7" />
      </li>

      <li>
        Chicken
        <input type="radio" name="next_step" value="Q8" />
      </li>

      <li>
        Pig
        <input type="radio" name="next_step" value="Q9" />
      </li>

      <li>
        Fish
        <input type="radio" name="next_step" value="Q10" />
      </li>

      <li>
        Snake
        <input type="radio" name="next_step" value="Q11" />
      </li>

      <li>
        Parrot
        <input type="radio" name="next_step" value="Q12" />
      </li>

      <li>
        Turtle
        <input type="radio" name="next_step" value="Q13" />
      </li>

      <li>
        Lizard
        <input type="radio" name="next_step" value="Q14" />
      </li>

      <li>
        I don't like animals
        <input type="radio" name="next_step" value="Q15" />
      </li>

      <form action="/quiz/5">
        <button type="submit">Submit</button>
      </form>

      <section id="featured">

         <img src="https://castlevetsreading.files.wordpress.com/2013/01/lots-of-pets1.jpg?w=640" alt="colors">

      </section>

</body>

</html>
