<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>KWK Advice Template</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>What is your dream place to visit?</h1>

      <li>
        Paris
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
         Canada
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <li>
        Nigeria
        <input type="radio" name="next_step" value="Q4" />
      </li>

      <li>
        Italy
        <input type="radio" name="next_step" value="Q5" />
      </li>

      <li>
        Jamaica
        <input type="radio" name="next_step" value="Q6" />
      </li>

      <li>
        China
        <input type="radio" name="next_step" value="Q7" />
      </li>

      <li>
        India
        <input type="radio" name="next_step" value="Q8" />
      </li>

      <li>
        New York
        <input type="radio" name="next_step" value="Q9" />
      </li>

      <li>
        Antartica
        <input type="radio" name="next_step" value="Q10" />
      </li>

      <li>
        Japan
        <input type="radio" name="next_step" value="Q11" />
      </li>

      <form action="/quiz/6">
        <button type="submit">Submit</button>
      </form>

      <section id="featured">

         <img src="https://icdn3.digitaltrends.com/image/man-holding-passport_alexey-ivanov_123rf.jpg?ver=1" alt="colors">

      </section>

</body>

</html>
