<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>Water spirals down the plughole in opposite directions in the northern and southern hemispheres</h1>

      <li>
        True
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
         False
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <form action="/quiz/16">
        <button type="submit">Submit</button>
      </form>

      <section id="featured">

         <img src="https://i.ytimg.com/vi/FVo2qdXxQ7o/maxresdefault.jpg" alt="colors">

      </section>
</body>

</html>
