<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>Your emotions control you more than you control your emotions.</h1>

      <li>
        Agree
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
         Disagree
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <form action="/quiz/13">
        <button type="submit">Submit</button>
      </form>

</body>

</html>
