<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>You do not let other people influence your actions.</h1>

      <li>
        Agree
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
         Disagree
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <form action="/quiz/12">
        <button type="submit">Submit</button>
      </form>

      <section id="featured">

         <img src="https://28oa9i1t08037ue3m1l0i861-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/gut.png" alt="colors">

      </section>
</body>

</html>
