<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>Your fingernails and hair keep growing after you die</h1>

      <li>
        True
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
         False
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <form action="/quiz/17">
        <button type="submit">Submit</button>
      </form>

</body>

</html>
