<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Know Yourself</title>
</head>

<body background="https://art.pixilart.com/ef8096794ca0d2c.png">
  <h1>What is your favorite use of transportation?</h1>

      <li>
        Car
        <input type="radio" name="next_step" value="Q2" />
      </li>

      <li>
        Bus
        <input type="radio" name="next_step" value="Q3" />
      </li>

      <li>
        Motorcycle
        <input type="radio" name="next_step" value="Q4" />
      </li>

      <li>
        Bike
        <input type="radio" name="next_step" value="Q5" />
      </li>

      <li>
        Plane
        <input type="radio" name="next_step" value="Q6" />
      </li>

      <li>
        Submarine
        <input type="radio" name="next_step" value="Q7" />
      </li>

      <li>
        Train
        <input type="radio" name="next_step" value="Q8" />
      </li>

      <li>
        Helicopter
        <input type="radio" name="next_step" value="Q9" />
      </li>


    <form action="/quiz/4">
      <button type="submit">Submit</button>
  </form>

  <section id="featured">

     <img src="https://www.theispot.com/assets/images/source/Eric_Hanson__Bike_or_Car.jpg" alt="colors">

  </section>

</body>
